

    
  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        <a href="#"><img src= 'assets/A1.jpg'height="200px" width="200px"></a>
        <a href="#"><img src= 'assets/java.jpg'height="200px" width="200px"></a>
        
      </div>
      <div class="col-sm-8 text-left"> 
        <h1>Welcome</h1>
        <p>Welcome To My Angular Pages </p>
        <hr>
        <h3>This page Contains Of 
            

        </h3>
        <h4>1.Products</h4>
        
        <p>In Which i have used the custom pipes and custom directives<br>
          I have used the Custom pipes in the Shared because we can use it in all the modules<br>
            And in the Custon pipes <br>
            There are 3 Types<br>
            1)The Upper Case =>in which i have  used the toUpperCase();<br>
            2)Search         =>this is used to search the product in the product table psearch pipe;<br>
            3)SORT           =>This is used to sort the product by there prize psort;<br>
        </p>
       

        <h4>1.Technologies</h4>
        <p>In Which i have used the custom pipes and custom directives and two child modules<br>
            Two child modules are <br>
            1)Java Technology
            2)Web  Technologies<br>
            And There is also cusrom pipes the Custon pipes <br>
            There are 3 Types<br>
            1)The Upper Case =>in which i have  used the toUpperCase();<br>
            2)Search         =>this is used to search the product in the product table search pipe;<br>
            3)SORT           =>This is used to sort the product by there prize sort;<br>


        </p>
        <h6> Custom Directives</h6>
        I have used the directives in the Shared because we can use it in all the modules<br>
        Note:i have Used  product only for productId so that we could know the differenc<br>
        between That the bootstrap and the Custom Directives


       
        
       
      </div>
      <div class="col-sm-2 sidenav">
        <div class="well">
          <p>ADS</p>
          <a href="#"><img src= 'assets/download1.jpg'height="200px" width="200px"></a>
        </div>
        <div class="well">
          <p>ADS</p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- <footer class="container-fluid text-center">
    <p>Footer Text</p>
    
  </footer> -->